body {
	background-image: url("../nuages.jpg");
}

table{
	border-collapse : collapse;
}

#div_preparation, #div_resume{
	background-image: url("seamless/acier.jpg");
	width:20%;
}

#div_proposition{
	background-image: url("seamless/bois.jpg");
	width:20%;
}

#div_liste_propositions{
	background-image: url("seamless/papier.jpg");
	width:20%;
}

#input_valCles, #input_nbCles, #input_bons, #input_mauvais{
	width:2em;
}

#clic_reponse{
	border: 1px solid black;
	background-color: #ff0000;
	font-family: "Courier New";
	margin:0.2em;
}

#clic_code_impossible{
	border: 1px solid black;
	background-color: #ffcc00;
	margin:0.2em;
}

#clic_preparation, #clic_retour{
	text-align: center;
	border: 1px solid black;
	background-color: #ffff00;
	margin: 0.2em;
	margin-top :0.2em;
	margin-bottom:0.2em;
}

#clic_ultime_oui{
	background-color:#ccff00;
}

#clic_ultime_non{
	background-color:#ffcc00;
}

#proposition{
	font-family: "Courier new";
}

#span_ultime_proposition{
	font-family: "Courier new";
}

.clic_raccourci_prepa{
	border: 1px solid black;	
	padding-left:0.5em;
	padding-right:0.5em;
	margin-left:0.2em;
	margin-right:0.2em;
	background-color:#ff8800;
}

.ultime_proposition_ia{
	border: 1px solid black;	
	padding-left:0.5em;
	padding-right:0.5em;
	margin-left:0.2em;
	margin-right:0.2em;
}

.exemple_proposition{
	font-family: "Courier New";
}

.exemple_bons{
	font-family:"Courier New";
	color: #00cc22;
}

.exemple_mauvais{
	font-family:"Courier New";
	color: #cc0000;
}

.mauvaise_proposition{
	font-family:"Courier New";
	color: #880000;
}

.bonne_proposition{
	font-family:"Courier New";
	color: #cc00ff;
}